*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  background-color: #010101;
  color: #f0f0f0;
}

.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;   
  justify-content: left; 
  padding: 20px;
}
.card{
  width: 230px;
  height: 100%;
  margin: 20px;
  background-color: #f0f0f0;
  color: #010101;
  border-radius: 2vh;
}
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40%;
  padding: 8px;
}

.logo{
  height: 50px;
  box-shadow:2px #706e6e;
  width: 50px;
  border: 1px solid #f1f1f1;
  border-width: 3px;
  border-radius: 50%;
}
.btn{
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 2px 10px;
  border-radius: 8px;
  border: 0.5px solid #7c7b7b;
  background-color: transparent;
  color: #353535;
  font-weight: 400;
  font-size: 12px;
}

.icon_bm{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}
.center{
  padding: 8px;
  gap: 4px;
  display: block;
}

.company{
  /* height: 8px; */
  display: flex;
  align-items: center ;
  gap: 4px;
}
.time{
  /* width: 10px; */
  font-size: 10px;
  margin-top: 6px;
  color: gray;
  font-weight: 100;
}
.btn-req{
  display: flex;
  /* justify-content: space-e; */
  gap: 8px;
}
.btn-req button{
  font-size: 10px;
  border: none;
  border-radius: 8px;
  background-color: #d4d3d3;
  color: #010101;
  padding: 4px;
}

.bottom{
  margin-top: 4vh;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 4vh; */
}

.price h1{
  font-size: 18px;
}
.price p{
  font-size: 12px;
  color: rgb(167, 165, 165);
}

.bottom button{
  background-color: #2b2a2a;
  color: #d7d4d4;
  padding: 8px;
  border: none;
  border-radius: 4px;
}